.activities_header{
    text-align: center;
    font-size: 3rem;
    color: red;
}
.pub_golf_img{
    width: 100%;
    display: block;
}
.golf_title {
    position: absolute; 
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: red; 
    text-align: center; 
    font-size: 5rem; 
    z-index: 1; 
    font-weight: bold; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .activities_instructions{
      font-size: 4rem;
      text-align: center; 
  }
  
/* Pub Card animation */
  .pub_list img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.pub_list{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.pub_card{
  display: grid;
  row-gap: 3.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3rem;
}
.pub_section{
  position: relative;
  overflow: hidden;
}
.pub_img{
  width: 350px;
  border-radius: 10px;
}

.pub_info{
  width: 300px;
  background-color: #D9D9D9;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.pub_name{
  display: block;
  font-size: 1rem;
  margin-bottom: 1%;
}

.pub_number{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5%;
}

/* Animation */
.pub_section:hover .pub_info{
  animation: display_text 1s forwards;
  opacity: 1;
  transition: opacity .5s;
}

.pub_section:hover{
  animation: overflow_hover 2s forwards;
}

@keyframes display_text{
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-8rem);
  }
}

@keyframes overflow_hover{
  to{
    overflow: initial;
  }
}
@media (max-width: 768px) {
  .pub_card {
     grid-template-columns: 1fr;
     margin-left: 3%;
     margin-right: 3%;
  }
  .golf_title{
    font-size: 1.5rem;
    top: 40%; 
  }
}