/* Basic styling for the footer */
.footer_section{
    display: flex;
    background-color: #000000;
    color: white;
    padding: 2%;
    font-size: 16pt;
    align-items: center;
    justify-content: space-between; /* Allow the footet components to appear on the left, centre and right */ 
    font-family: Tahoma;
}
/* Media query to change the display of the footer depending on device size*/
@media (max-width: 768px) {
    .footer_section {
        font-size: 12pt;
        bottom: 0;
    }
}