.footer_section{
    display: flex;
    background-color: #000000;
    color: white;
    padding: 2%;
    font-size: 16pt;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer_section {
        font-size: 12pt;
        /* position: fixed; */
        bottom: 0;
    }
}